#EDA321 Processor 
#UCF file for proc_top top-level module
#Author: Anurag Negi


#Asynchronous reset, active low from SW0
NET ARESETN_RAW LOC=T10  |  IOSTANDARD=LVCMOS33;

#100 MHz Clock, required for seven segment display refresh
NET CLK100MEG LOC=V10  |  IOSTANDARD=LVCMOS33;

#Manual Clock using SW7
NET CLK_MANUAL LOC=T5  |  IOSTANDARD=LVCMOS33;
#NET "CLK_MANUAL" CLOCK_DEDICATED_ROUTE = FALSE;


#Seven Segment Display Cathode Connections
NET SSEG_CA<0> LOC=T17  |  IOSTANDARD=LVCMOS33;
NET SSEG_CA<1> LOC=T18  |  IOSTANDARD=LVCMOS33;
NET SSEG_CA<2> LOC=U17  |  IOSTANDARD=LVCMOS33;
NET SSEG_CA<3> LOC=U18  |  IOSTANDARD=LVCMOS33;
NET SSEG_CA<4> LOC=M14  |  IOSTANDARD=LVCMOS33;
NET SSEG_CA<5> LOC=N14  |  IOSTANDARD=LVCMOS33;
NET SSEG_CA<6> LOC=L14  |  IOSTANDARD=LVCMOS33;
NET SSEG_CA<7> LOC=M13  |  IOSTANDARD=LVCMOS33;


#Seven Segment Display Anode Connections
NET SSEG_AN<0> LOC=P17  |  IOSTANDARD=LVCMOS33;
NET SSEG_AN<1> LOC=P18  |  IOSTANDARD=LVCMOS33;
NET SSEG_AN<2> LOC=N15  |  IOSTANDARD=LVCMOS33;
NET SSEG_AN<3> LOC=N16  |  IOSTANDARD=LVCMOS33;

#DebugMux1 Select
NET DBG1<0> LOC=V9  |  IOSTANDARD=LVCMOS33;
NET DBG1<1> LOC=M8  |  IOSTANDARD=LVCMOS33;

#DebugMux2 Select
NET DBG2<0> LOC=N8  |  IOSTANDARD=LVCMOS33;
NET DBG2<1> LOC=U8  |  IOSTANDARD=LVCMOS33;

#Bus Error Signal
NET LED1 LOC=U16  |  IOSTANDARD=LVCMOS33;

#Overflow Signal
NET LED2 LOC=V16  |  IOSTANDARD=LVCMOS33;

#Zero signal
NET LED3 LOC=U15  |  IOSTANDARD=LVCMOS33;

